* {
font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
}
form{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input{
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
    height: 15px;
}
form button{
    background-color: rgb(255, 149, 0);
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    width: 22%;
  margin-left: 0%;
}
.radio{
  
   
    display: flex;

}
.radio input{
    width: 23px;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

